*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	text-transform: capitalize;
	list-style: none;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #2E2E2E;
    border: 1px solid white;
    border-radius: 5rem;
}

.header{
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: #2e2e2e;
}

.logo{
	font-size: 3rem;
	padding: 1rem;
}

.navbar{
	display: flex;
	padding: 2rem;
}

.navlink{
	margin: auto;
}

.navlink a{
	border: 1px solid whitesmoke;
	padding: .5rem;
	margin: auto;
	font-size: 20px;
	text-align: center;
	color: white;
}

.navlink>a:hover{
	background-color: whitesmoke;
	color: black;
}

.container{
	margin: auto;
	background-color: #eff6f8;
}
.heading{
	background: -webkit-linear-gradient(#fe044b, #031bf2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.content{
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(to bottom, #22313F,50%, #ececec);
}

.content>span>p{
	font-size: 5rem;
	font-family: 'Times New Roman', Times, serif;
	text-transform: uppercase;
	color: rgb(20, 18, 18);
	padding: 2rem;
	margin: 2rem 2rem 0rem 8rem;
	font-weight: 1000;
	background-image: -webkit-linear-gradient(92deg,#f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
	from {
	  -webkit-filter: hue-rotate(0deg);
	}
	to {
	  -webkit-filter: hue-rotate(-360deg);
	}
  }

.content>span>p{
	font-size: 4rem;
}


.content>span>pre{
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
}

.something .btn{
	border-radius: 2px;
	width: 5rem;
	border-style: hidden;
	border: 1px solid black;
	font-size: 1rem;
	background-color: #43586c;
	font-family: 'Times New Roman', Times, serif;
	padding: 3px;
	color: rgb(255, 255, 255);
	margin-left: 10rem;

}

span>.home-cont{
	font-family: 'Times New Roman', Times, serif;
	font-size: 2rem;
	margin: 0 0 0 9rem;
	padding: 1rem;
}

.img img{
	border-radius: 42% 56% 72% 28%/42% 42% 56% 48%;
	width: 15rem;
	padding: 2rem;
	margin: 2rem 18rem 2rem 2rem;
}
.about{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-image: linear-gradient( #F4F4F4,60%, black);
	/* background: linear-gradient(-30deg,  #0010c4, #07cbf7, #0d3f4d, #7fc61c);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite; */
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.abt-img>img{
	width: 50%;
	padding: 2rem 0 2rem 8rem;
}
.abt-content{
	padding: 2rem 6rem 2rem 2rem;
	width: 35%;
}
.abt-content p{
	font-size: 2rem;
}
.abt-content>h1, .projects>h1, .tdcon{
	font-size: 1.8rem;
	padding: 0 0 0 2rem;

}
.projects>h1, .projects>.pro-content{
	padding: 0 0 0 50%;
}

.pro-content{
	display: flex;
	flex-wrap: wrap;
}


.pro-list{
	/* border: 1px solid #5bffef; */
	margin: .5rem;
	width: 30rem;
}
.pro-list>h3{
	font-size: 1.4rem;
}
.pro-item{
	font-size: 1.3rem;
}

.contact{
	padding: 2rem;
	background-image: linear-gradient(#eff6f8,40%,black );
}
.con-item{
	display: grid;
	margin: 2rem 0 0 2rem;
}
.tdlist{
	font-size: 1.5rem;
	margin: 1rem;
}

/* Hide read more portion */
#more{
	display: none;
}
/* Hide read more portion */
#more1{
	display: none;
}

.readMoreBtn{
	color: blue;
	background: transparent;
	border: none;
	cursor: pointer;
}
.con-head{
	padding: 0 0 0 20%;
}
.con-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-size: 1.3rem;
}
.con-item{
	background: -webkit-linear-gradient(#1900ff,40%,#ffffff );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.con-input{
	height: 2rem;
	width: 200%;
	font-size: 1rem;
	padding: 0 0 0 1rem;
	border: 1px solid black;
}
.con-label{
	color: #eff6f8;
	padding: 0 0 0 1rem;
}

.footer{
	background: black;
	color: #ececec;
}

.foot>div{
	text-align: center;
}

/* hamburger test */
