*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	text-transform: capitalize;
	list-style: none;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #2E2E2E;
    border: 1px solid white;
    border-radius: 5rem;
}

body{
	padding: 2px;
}

.header{
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: #2e2e2e;
}

.logo{
	font-size: 3rem;
	padding: 1rem;
}

.navbar{
	display: flex;
	padding: 2rem;
}

.navlink{
	margin: auto;
}

.navlink a{
	border: 1px solid whitesmoke;
	padding: .5rem;
	margin: auto;
	font-size: 20px;
	text-align: center;
	color: white;
}

.navlink>a:hover{
	background-color: whitesmoke;
	color: black;
}

.container{
	
	margin: auto;
	background-color: #2e2e2e;
}

.content{
	border: 2px solid dimgray;
	display: flex;
	justify-content: space-between;
}

.content>span{
	font-size: 2rem;
	color: whitesmoke;
	padding: 2rem;
	margin: 2rem 2rem 2rem 8rem;
}

.content>span>p{
	font-size: 4rem;
}

.btn{
	border-radius: 2px;
	border-style: hidden;
	border: 1px solid black;
	font-size: 1rem;
	font-family: 'Times New Roman', Times, serif;
	padding: 3px;
	color: black;

}

.img img{
	border-radius: 50%;
	width: 15rem;
	padding: 2rem;
	margin: 2rem 7rem 2rem 2rem;
}
